<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Cadastrar Atividade-Heath Track</title>
</head>

<body>
    <div class="flex-cadastrar">
        <header>
            <a href="./gerenciarPeso.html"> <i class="fa-solid fa-arrow-left"></i>Voltar</a>
        </header>
        <form>
            <div class="cadastrar">
                <div class="mb-3">
                    <label for="Activity" class="form-label">Atividade física realizada</label>
                    <input type="text" class="form-control" id="Activity">
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Tempo de atividade</label>
                    <input type="text" class="form-control" id="time">
                </div>
                <div class="mb-3">
                    <label for="kcal" class="form-label">Calorias queimadas</label>
                    <input type="text" class="form-control" id="kcal">
                </div>
                <button type="submit" class="btn">Cadastrar</button>
                <a class="btn" href="./visualizarAtividade.html" role="button">Visualizar</a>
            </div>
        </form>
    </div>
    </div>

    <script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>