<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Gerenciar-Heath Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <aside>
            <div class="aside-title">
                <img src="../img/Eating disorder-rafiki.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-chimney"> </i>
                        <a href="./dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"> </i>
                        <a href="perfil.html">Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-weight-scale"> </i>
                        <a href="./GerenciarPeso.html"> Gerenciar peso e altura</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-heart-pulse"> </i>
                        <a href="./gerenciarPressao.html"> Gerenciar pressão arterial</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-walking"> </i>
                        <a href="./gerenciarAtividades.html"> Gerenciar atividades físicas</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-utensils"> </i>
                        <a href="./gerenciarAlimentos.html"> Gerenciar alimentos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-calculator"></i>
                        <a href="./calcularIMC.html"> Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </aside>
        <main>
            <header>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"> </i>Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar Alimentos</h2>
                </div>

                <div class="panel-row">
                    <a class="panel panel-50" href="./cadastrarAlimentos.html" role="button">Cadastrar</a>
                    <a class="panel panel-50" href="./visualizarAlimentos.html" role="button">Visualizar</a>
                </div>
            </div>
    </div>
    </main>
    </div>
    <script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>