<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Cadastro Sobre - Heath Track</title>
</head>

<body>
    <div class="sobre-register">
        <div class="sobre">
            <div class="sobre-title">
                <img src="../img/reshot-illustration-health-checklist-K6X43MYQ9S.png" alt="">
                <h2>Sobre você:</h2>
            </div>
            <form>
                <div class="mb-3">
                    <label for="genre">Gênero</label>
                    <select class="form-control" id="genre">
                        <option>Feminino</option>
                        <option>Masculino</option>
                        <option>Outros</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <div class="mb-3">
                    <label for="Altura" class="form-label">Altura(Metros)</label>
                    <input type="number" class="form-control" id="number">
                </div>
                <div class="mb-3">
                    <label for="Peso" class="form-label">Peso</label>
                    <input type="number" class="form-control" id="number">
                </div>
                <div class="button">
                    <a class="btn" href="./dashboard.html" role="button">Cadastrar</a>
                </div>
            </form>
        </div>
    </div>
    <script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>