<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/all.css">
  <link rel="stylesheet" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
  <title>Visualizar-Heath Track</title>
</head>

<body>
  <div class="flex-cadastrar">
    <header>
      <a href="./gerenciarPeso.html"> <i class="fa-solid fa-arrow-left"></i>Voltar</a>
    </header>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Calorias(Kcal)</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">20/02/2022</th>
            <td>Café da manhã</td>
            <td>Maça</td>
            <td>120Kcal</td>
            <td><i class="fa-solid fa-pen"></i></td>
            <td><i class="fa-solid fa-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">15/02/2022</th>
            <td>Jantar</td>
            <td>Feijoada</td>
            <td>350Kcal</td>
            <td><i class="fa-solid fa-pen"></i></td>
            <td><i class="fa-solid fa-trash"></i></td>
          </tr>
          <tr>
            <th scope="row">10/02/2022</th>
            <td>Almoço</td>
            <td>Salada</td>
            <td>100Kcal</td>
            <td><i class="fa-solid fa-pen"></i></td>
            <td><i class="fa-solid fa-trash"></i></td>
          </tr>
        </tbody>
      </table>
 
    <script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>